{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>➕ Nova Regra Automatizada</h2>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">{{ form.texto_usuario.label_tag }} {{ form.texto_usuario }}</div>
      <div class="col-md-6">{{ form.tipo_comparacao.label_tag }} {{ form.tipo_comparacao }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ form.contexto.label_tag }} {{ form.contexto }}</div>
      <div class="col-md-6">{{ form.novo_contexto.label_tag }} {{ form.novo_contexto }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ form.requisicao.label_tag }} {{ form.requisicao }}</div>
      <div class="col-md-6">{{ form.ordem.label_tag }} {{ form.ordem }}</div>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-success">Salvar Regra</button>
      <a href="{% url 'painel:tela_regras' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
